{{ define "main" }}

<div class="e-content">
  {{ .Content }}
</div>

  {{ range .Pages.GroupByDate "2006" }}
  <hr>
  <p class="font-bold prose-invert prose-2xl ">{{ .Key }}</p>
      <!-- You can add another range here to get individual posts, for example: -->
      <div  class="masonry sm:masonry-sm md:masonry-md h-entry">

      {{ range .Pages }}
        <div class="rounded-lg break-inside h-entry ">
            <a href="{{ .Permalink }}">
              {{ $banner := index (.Resources.ByType "image") 0 }}
                <img
                src="{{ $banner.RelPermalink }}"
                alt="{{ .Description }}" class="w-full rounded-xl " loading="lazy">
            </a>
          </div>
      {{ end }}
  </div>
  {{ end }}

{{ end }}
