<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="mx-auto max-w-4xl justify-items-center prose prose-invert	bg-zinc-950	">
  <header class="mt-4">
    {{ partial "header.html" . }}
    {{ partial "menu.html" . }}
  </header>
  <main class="my-4 mx-6">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="mb-2 mx-6 text-center  justify-items-center prose prose-invert">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
