<div class="grid grid-cols-1 justify-items-center text-center justify-center  ">
<p>Copyright {{ now.Year }}. All rights reserved.</p>

<p>
  <a href="https://xn--sr8hvo.ws/previous">←</a>
  <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
  <a href="https://xn--sr8hvo.ws/next">→</a>
</p>
<p class="flex justify-center">
  <a href='https://webring.recurse.com' target='_blank'>
    <img loading="lazy" src='https://webring.recurse.com/icon.png' width="30" height="30" />
  </a>
  <a href='https://webring.xxiivv.com/#random' target='_blank'>
    <img loading="lazy" width=" 30" height="30" src='https://webring.xxiivv.com/icon.white.svg' />
  </a>
</p>
</div>
