<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ partial "seo/seo_head.html" . }}


<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<script src="https://kit.fontawesome.com/2f3b6e2e4c.js" crossorigin="anonymous"></script>

<!-- resources.Get "style.css" will fetch the style.css file.
It will not work if you mention the exact location like "./assets/style.css".-->
{{ $style := resources.Get "style.css" }}
<link rel="stylesheet" href="{{ $style.Permalink }}">


{{ partial "macia-indiweb/indiweb.html" . }}
{{ partial "macia-indiweb/authentication.html" . }}
{{ partial "analytics.html" . }}



<!-- Gestion AUTOMATIQUE des divers apple-touch-icon.png en resources -->
{{- $path     := site.Params.logo }}
{{- $original := resources.Get $path  }}

{{- $apple_icon   := $original.Fit "76x76 png" }}
<link rel="apple-touch-icon-76x76" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-76x76-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "114x114 png" }}
<link rel="apple-touch-icon" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "120x120 png" }}
<link rel="apple-touch-icon-120x120" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-120x120-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "128x128 png" }}
<!-- Pour android Chrome -->
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=128x128>

{{- $apple_icon   := $original.Fit "152x152 png" }}
<link rel="apple-touch-icon-152x152" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-152x152-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "160x160 png" }}
<link rel="apple-touch-icon-160x160" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-160x160-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />
<!-- Pour android Chrome -->
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=160x160>

{{- $apple_icon   := $original.Fit "167x167 png" }}
<link rel="apple-touch-icon-167x167" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-167x167-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "180x180 png" }}
<link rel="apple-touch-icon-180x180" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-180x180-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon   := $original.Fit "196x196 png" }}
<link rel="apple-touch-icon-196x196" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-196x196-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />
