{{ if .Param "mp-syndicate-to" }}
    {{ range .Param "mp-syndicate-to" }}
<a  rel="syndication" class="u-syndication" href="{{ . }}"></a>
{{ end }}
  {{ end }}
<a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
<a href="https://brid.gy/publish/bluesky"></a>
<a href="https://brid.gy/publish/mastodon"></a>

<div class="h-card p-author">
  <a rel="author" class="p-name u-url" href="{{ .Site.BaseURL }}">{{.Site.Params.Author.name }}</a>
  <img src="{{ .Site.Params.author.avatar }}" alt="{{ .Site.Title }}" class=" u-logo u-photo">
</div>
