
<div class="container-fluid">
  <div>
    <article class="text-center col-10 offset-1 row text-center h-entry">
      <h2 class="pb-4">
        <i class="fad fa-bookmark"></i> Bookmark {{ range  .Param "mf-bookmark-of"}} of "<a class="u-bookmark-of text-decoration-underline" href="{{ . }}">{{ end }} {{ .Params.title }}</a>"
      </h2>

      <div class="col-3">
        <a href="/" rel="author" class="u-author">
          <img loading="lazy" src="{{ .Site.Params.image}}" alt="logo" class="img-fluid u-logo u-photo mx-auto d-block" width="60">
          <p class="p-author text-center">{{ .Site.Author.name }}</p>
        </a>
      </div>
      <div class="col e-content">
        {{ .Content | safeHTML }}

        {{- partial "syndication.html" . -}}      </div>

    </article>

  </div>
  <div class="container text-center">
    {{ with .Params.tags }} {{ range sort . }}
    <a class="btn m-2 p-category tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
      <i class="fa-duotone theme-fundor333 fa-tags"></i> {{ .}}
    </a>
    {{ end }} {{ end }}

    {{ with .Params.meta }} {{ range sort . }}
    <p class="p-category d-none">
      {{ .}}
    </p>
    {{ end }} {{ end }}

  </div>
</div>

{{- partial "webmention_response.html" . -}}
